{% extends "base.html" %}
{% block content %}


    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Money</title>
    <script>
        function validateForm() {
            var fromAccountNumber = document.getElementById("from_account_number").value;
            var toAccountNumber = document.getElementById("to_account_number").value;
            var amount = document.getElementById("amount").value;

            if (fromAccountNumber === "" || toAccountNumber === "" || amount === "") {
                document.getElementById("error_message").innerText = "Please fill in all input fields.";
                return false;  // Prevent form submission
            }
            return true;  // Allow form submission
        }
    </script>
</head>
<body>
    <h1><strong class='bg-black text-white mt-10'>Transfer Money</strong></h1>
    <div id="error_message" style="color: red;"></div>  <!-- Error message section -->
    <form method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <label for="from_account_number"> <strong class='text-white'> From Account Number: </strong></label>
        <input type="text" id="from_account_number" name="from_account_number"><br>
        <label for="to_account_number"> <strong class='text-white'> To Account Number: </strong></label>
        <input class='m-2'type="text" id="to_account_number" name="to_account_number"><br>
        <label for="amount"> <strong class='text-white'> Transferred Amount : </strong></label>
        <input type="text" id="amount" name="amount"><br>
        <input class='btn btn-warning mx-48 mt-2' type="submit" value="Transfer">
    </form>
</body>
</html>


{% endblock %}