{% extends "base.html" %}
{% load static %}


{% block content %}



<div class="d-flex flex-wrap px-5 pt-3 align-items-center">

    <div class="col-6">
        <h1 class="c" style="color: blue;">Discover Our Online Car Shop!</h1>
        <p style="color:black;">Welcome to our online car shop, where dreams meet the road. Discover an extensive collection of vehicles that redefine luxury, performance, and style. From sleek sedans to rugged SUVs, we offer the perfect ride for every journey. Start your adventure today and find your ideal vehicle with just a click. Your next automotive masterpiece awaits.</p>
      </div>
      
    <div class="col-6">
        <img src="{% static 'car.jpg' %}" style="max-width: 100%; height: auto;" />
      </div>
      
  </div>




  <div class="d-flex flex-wrap justify-content-center p-4">
    <div class=" col-6 bg-white text-center p-3" >
      <h5 class='text-primary'>All Brand</h5>
    {% for cat in category %}
    {% comment %} <div class="form-check"> {% endcomment %}
       
      <input class="form-check-input" type="radio" name="category" id=" {{cat.name}}">
      <label class="form-check-label" for=" {{cat.name}}">
        <a href="{% url 'category_wise_post' cat.slug %}"  class="text-decoration-none nav-link btn btn-warning text-dark">{{cat.name}}</a>
      </label>
   
    {% comment %} </div> {% endcomment %}
    {% endfor %}
    
  </div>

  </div>




  
<div>
    <h4>{{data | length}} results found</h4>
    <div class="d-flex d-wrap justify-content-center pt-5 mx-5">
      {% for car in data %}
      <div class="col-sm-3 ">
        <div class="card mx-2">
          <div class="card-body">
            <img src="{{car.image.url}}" class="card-img-top" alt="...">
            {% comment %} <h5 class="card-title"><a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark">{{post.title}}</a></h5> {% endcomment %}
                {% comment %} <p class="card-text">{{post.content |truncatewords:10}}</p> {% endcomment %}
            <p> Car Name : {{car.name}}
            <p> Car Price : {{car.price}}
            <p> Car Brand Name : {{car.brand.name}}
              <p>{{car.description |truncatewords:10}}</p>
              <h5><a href="{% url 'detail_post' car.id %}" class="btn btn-primary text-decoration-none text-dark">View Details</a></h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> 
    </div>


{% endblock %}